/* Styling font */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  /* making the container take up the page */ 
  .container {
    text-align: center;
    margin-top: 50px;
  }
  /* Styling the main heading on the users end */
  h1 {
    color: black;
    font-size: 150px;
    text-align: center;
  }
  /* adding color to the bacckground */
  body {
    color: black;
    background-color: aqua;
  }
  /* making the buttons for rock, paper, scissors responsive and color */
  button.choice {
    padding: 15px 25px;
    margin: 15px;
    font-size: 18px;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
  }
  /* Making the button hover responsive */
  button.choice:hover {
    background-color: blue;
  }
  /* Making the # targeted responsive */
  #choose, #score, #result {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
  }
  /* Making bigger screens like tablets responsive */
  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }
    button.choice {
      padding: 9px 18px;
      font-size: 1rem;
    }
    #choose, #score, #result {
      font-size: 1rem;
    }
    .container {
      text-align: center;
      margin: 50px auto;
    }
  }
  /* Making the phone screen size responsive */
  @media (max-width: 480px) {
    h1 {
      font-size: 1rem;
    }
    button.choice {
      padding: 7px 12px;
      font-size: 0.7rem;
    }
    #choose, #score, #result {
      font-size: 0.7rem;
    }
    .container {
      max-width: 100%;
      margin: 0;
      text-align: center;
    }
  }