body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    color: #333;
    font-size: 150px;
    text-align: center;
  }

  body {
    color: purple;
    background-color: aqua;
  }
  
  button.choice {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button.choice:hover {
    background-color: #2980b9;
  }
  
  #choose, #score, #result {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }
    button.choice {
      padding: 9px 18px;
      font-size: 1rem;
    }
    #choose, #score, #result {
      font-size: 1rem;
    }
  }